.body {
    background: rgb(73, 73, 95);
}


.quiz_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background: antiquewhite;
}

.quiz_box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: rgb(158, 158, 214);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px brown;
}

.quiz_box header .title {
    font-size: 30px;
    font-weight: 600;
}

.quiz_box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: lightseagreen;
    border: 3px solid plum;
}

.quiz_box header .timer_text {
    font-weight: 400;
    font-size: 20px;
    user-select: none;
}

.quiz_box header .timer_sec {
    font-size: 28px;
    font-weight: 600;
    background: palevioletred;
    height: 30px;
    width: 45px;
    color: azure;
    text-align: center;
    line-height: 7px;
}

.quiz_box section {
    padding: 25px 30px 20px 30px;
    background: rgb(238, 190, 127);
    
}

.quiz_box section .que_text {
    font-size: 25px;
    font-weight: 600;
}

.quiz_box section .option_list {
    padding: 20px 0;
    display: block;
}

section .option_list .option {
    background: lightgoldenrodyellow;
    border: 1px solid lightslategray;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

.option_list .option:last-child{
    margin-bottom: 0px;
    
}



.start_btn button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: 500;
    color: brown;
    padding: 15px 30px;
    outline: 5px;
    border: 7px;
    border-radius: 17%;
    background: wheat;
    cursor: pointer;

}

.info_box {

    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    width: 540px;
    background: gray;
    border-radius: 3%
}

.info_box .info_title {
    height: 70px;
    width: 100%;
    border: 3px solid salmon;
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
}

.info_box .info_list {
    padding: auto;
}

.info_box .info_list .info {
    margin: 5px;
    font-size: 35px;

}

.info_box .info_list .info span {
    font-weight: bolder;
    color: mediumseagreen;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 19px;
    background: coral;

}

.info_box .buttons button {
    margin: 7px;
    height: 40px;
    width: 200px;

    border-radius: 5px;
    color: antiquewhite;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.buttons button.quit {
    color: blue;
    border-color: darkblue;
}

.buttons button.restart {
    color: blue;
    border-color: darkblue;
}